# dependencies
node_modules/
.pnp
.pnp.*

# builds
.next/
out/
build/
dist/
.turbo/
*.tsbuildinfo
next-env.d.ts

# eve
.eve/
.output/
.source/

# testing
coverage/

# environment
.env
.env.*
!.env.example

# deployment
.vercel

# editors & os
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
